<div class="panel panel-default">
	<div class="panel-body">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-condensed table-striped small">
          <thead>
            <tr>
              <th>Firm</th>
              <th class="center">Number of Exits</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Oaktree Capital</td>
              <td class="center">1</td>
            </tr>
            <tr>
              <td>Thoma Bravo</td>
              <td class="center">1</td>
            </tr>
            <tr>
              <td>GTCR</td>
              <td class="center">1</td>
            </tr>
            <tr>
              <td>Onex</td>
              <td class="center">1</td>
            </tr>
            <tr>
              <td>Black Diamond Capital</td>
              <td class="center">1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <h4>Exits</h4>
        <hr style="margin-top: -5px;">
        <p style="margin-top: -15px;">Since 2010, analysts from Lazard's restructuring group have primarily gone to credit funds.
        </p>
      </div>
    </div>
	</div>
</div>