<div class="container">
  <p id="notice"><%= notice %></p>

  <%= render 'layouts/bank/header' %>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render 'layouts/bank/sidenav' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
    	<div class="panel panel-default">
				<div class="panel-body">
				  <h4>Schools</h4>
					<hr style="margin-top: -5px;">
				   
    		</div>
    	</div>
    </div>
  </div>
</div>
