<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<%= render 'layouts/sidenav' %>
		</div>
		<div class="col-md-8" style="background-color: white;">
			<div class="row" style="margin-top: 10px;">
				<div class="col-md-5" style="font-size: 12px; line-height: 2.0em;">
					<strong>Ref Out is your resource for finance recruiting.</strong>
					<p>We seek to demystify the recruiting and interviewing process by giving you the tools to prepare for interviews and seek out new opportunities. We're based in New York City's Chelsea neighborhood near the High Line.</p>
				</div>
				<div class="col-md-7">
					<div id="carousel-example-generic" class="carousel slide hidden-xs hidden-sm" data-ride="carousel" style="width: 425px;">
					  <!-- Indicators -->
					  <ol class="carousel-indicators" style="top:180px;">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active"><img src="http://placehold.it/425x200" alt=""></div>
					    <div class="item"><img src="http://placehold.it/425x200" alt=""></div>
					    <div class="item"><img src="http://placehold.it/425x200" alt=""></div>
					  </div>

					  <!-- Controls -->
					  <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left"></span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right"></span>
					  </a>-->
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 15px; border-top: 1px solid #eee;">
				<div class="col-md-12" style="font-size: 12px; line-height: 2.0em;">
					<h3 style="margin-bottom: 20px;">The Team</h3>
					<h4>Phil Nguyen <small><i>Founder</i></small></h4>
					<p>Phil founded Ref Out in 2014 and holds a range of responsibilities including web development and design, research, marketing, and paying the bills. He currently works at Oaktree Capital Management in the mezzanine investments group where he evaluates potential investment opportunities across various industries. Prior to Oaktree, Phil worked in Lazard's Chicago office in the restructuring group advising distressed and bankrupt companies. Phil grduated with honors from the University of Illinois at Urbana-Champaign with a dual degree in Finance and Accountancy. In addition to Ref Out, he is also the founder and editor of <a href="http://www.the-dwc.co">The Daily Water Cooler</a>, a morning newsletter summarizing the day's most discussed news.</p>
				</div>
			</div>
			<div class="row" style="margin-top: 15px; border-top: 1px solid #eee;">
				<div class="col-md-12" style="font-size: 12px; line-height: 2.0em;">
					<h3 style="margin-bottom: 20px;">Special Thanks</h3>
					<p>We want to give our thanks to...</p>
				</div>
			</div>
		</div>
	</div>
</div>
