<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<%= render 'layouts/sidenav' %>
		</div>
		<div class="col-md-8" style="background-color: white; font-size: 12px; line-height: 2.0em;">
			<h3 style="margin-bottom: 20px;">Contact Us</h3>
			<p>For general questions or comments, feel free to send us an email at <a href="mailto:hello@refout.com">hello@refout.com</a></p>
			<p>For advertising or partnership opportunities, please contact Phil Nguyen at <a href="mailto:phil@refout.com">phil@refout.com</a></p>
		</div>
	</div>
</div>