<div class="jumbotron main_jumbo">
	<div class="container text-left intro_text center">
		<p style="font-size: 50px; line-height: 70px;">RECRUIT</p>
		<p style="font-size: 30px; line-height: 0px;">LIKE A</p>
		<p style="font-size: 70px; line-height: 80px;">CHIMP</p>
		<p style="font-size: 14px;">BANKING (AND BEYOND) RECRUITING <br />
		SO EASY A MONKEY COULD DO IT.</p>
		<p style="font-size: 14px; color: #5a5a5a;">Ref Out is the best source for company<br />
		profiles to prepare for an interview and<br />
		lists of headhunters to find your next job.
	</div>
</div>