<div class="jumbotron main_jumbo">
	<div class="container text-left intro_text center">
		<p style="font-size: 60px; line-height: 70px;">RECRUIT</p>
		<p style="font-size: 30px; line-height: 0px;">LIKE A</p>
		<p style="font-size: 80px; line-height: 80px;">CHIMP</p>
		<p style="font-size: 14px;">FINANCE INDUSTRY RECRUITING <br />
		SO EASY A MONKEY COULD DO IT.</p>
		<p style="font-size: 14px; color: #5a5a5a;">Ref Out is the best source for headhunter<br />
		profiles to help find your next job.
	</div>
</div>