<div id="wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<%= render 'layouts/sidenav' %>
			</div>
			<div class="col-md-8" style="background-color: white; font-size: 12px; line-height: 2.0em;">
				<h3 style="margin-bottom: 20px;">Legal</h3>
				<p>All pictures are the property and copyright of their respective owners.
				<br /><br />
				If you feel any copyrighted works you own have been infringed, you can email us at <a href="mailto: hello@refout.com">hello@refout.com</a> and your inquiry will be fully investigated.</p>
			</div>
		</div>
	</div>
</div>