<div id="wrap">
	<div class="container">
		<div id="resources" class="transitions-enabled">
        <div class="box-resources panel panel-default">
        	<%= link_to image_tag("resources/analyst_tips_thumbnail.jpg", :style => "margin-top: 0px;"), "/resources/tips" %>
        </div>
      </div>
	</div>
</div>