<h5><strong>PROFESSIONALS</strong></h5>
  <small><p>
    <%= link_to "Schools", schools_bank_path(@bank), :class => "link-dark-gray" %><br />
    Exit Ops
  </p></small>
<h5><strong>STRUCTURE</strong></h5>
  <small><p>
    <%= link_to "Offices", offices_bank_path(@bank), :class => "link-dark-gray" %><br />
    <%= link_to "Groups", groups_bank_path(@bank), :class => "link-dark-gray" %>
  </p></small>
<h5><strong>RECRUITING</strong></h5>
  <small><p>
    Full-Time<br />
    Internship<br />
    Diversity<br />
    Underclassmen
  </p></small>
<h5><strong>OTHER</strong></h5>
  <small><p>
    Charity Work<br />
    Recent News
  </p></small>