.doughnut-legend li span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  float: left;
  margin-right: 4px;
  margin-left: 10px;
}

.doughnut-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top : 20px;

}

.doughnut-legend li {
  display: inline-block;
}

.doughnut-legend li:first-letter {
  text-transform: capitalize;
}


