// Place all the styles related to the headhunters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headhunters {
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 175px;
	min-height: 245px;
}

.box img {
	width: 100%;
}

@media (max-width: 767px) {
  .box {
    width: 125px;
    margin: 3px;
    font-size: 10px;
  }
}