// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label_filter {
	font-weight: normal;
}

.link-gray {
	color: #e1e1e1;
}

.link-gray:hover {
	color: #71c6c1;
	text-decoration: none;
}

.link-social:hover {
	color: #71c6c1;
}

.link-dark-gray {
	color: #5a5a5a;
}

.link-dark-gray:hover {
	color: #71c6c1;
	text-decoration: none;
}

.nav_pages > li > a:hover {
	background-color: #fff;
}

@media (max-width: 767px) {
  .box {
    width: 125px;
    margin: 3px;
    font-size: 10px;
    min-height: 189px;
  }
}

.intro_main_icon {
	color: #71c6c1;
}
.intro_side_icon {
	color: #bdc3c7;
}
.intro_column {
	padding: 25px;
}
.intro_column_middle {
	border-width: 1px;
	border-color: #bdc3c7;
	border-left-style: solid;
	border-right-style: solid;
}

.tips_jumbo {
	background: url('resources/analyst_tips_banner.jpg') center;
	height: 400px;
  color: #fff;
  text-align: center;
  margin-top: -20px;
}
.tips_upvote {
	text-align: center;
}
.tips_upvote a:hover {
	text-decoration: none;
}

.what_to_read_jumbo {
	background: url('resources/what_to_read_banner.jpg') center;
	height: 400px;
  color: #fff;
  text-align: center;
  margin-top: -20px;
}