// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.label_filter {
	font-weight: normal;
}

.link-gray {
	color: #e1e1e1;
}

.link-gray:hover {
	color: #71c6c1;
	text-decoration: none;
}

.link-social:hover {
	color: #71c6c1;
}

.link-dark-gray {
	color: #5a5a5a;
}

.link-dark-gray:hover {
	color: #71c6c1;
	text-decoration: none;
}

/*
.nav > li > a:hover {
	background-color: none;
}
*/