// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.label_filter {
	font-weight: normal;
}

.link-gray {
	color: #e1e1e1;
}

.link-gray:hover {
	color: #71c6c1;
	text-decoration: none;
}

.link-social:hover {
	color: #71c6c1;
}

.link-dark-gray {
	color: #5a5a5a;
}

.link-dark-gray:hover {
	color: #71c6c1;
	text-decoration: none;
}

.nav_pages > li > a:hover {
	background-color: #fff;
}

.tips_jumbo {
	background: url('resources/tips_banner.jpg') center;
	height: 250px;
  color: #fff;
  text-align: right;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: -20px;
}

.tips_upvote {
	text-align: center;
}

.tips_upvote a:hover {
	text-decoration: none;
}