// Place all the styles related to the recruiters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recruiters {
	margin: 0 auto;
}

.box-recruiters {
	margin: 5px 5px 10px 5px;
	width: 150px;
}

.box-recruiters img {
	width: 75%;
}