<div class="container">
	<h1>Edit Tip</h1>

	<%= render 'form' %>

	<!--<%= link_to 'Show', @tip %> |-->
	<%= link_to 'Destroy', @tip, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Back', tips_path %>
</div>