<div class="container">
  <h1>Tips for Analysts</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tips.each do |tip| %>
        <tr>
          <td>
            <%= tip.description %>
            <%= link_to edit_tip_path(tip) do %>
              <span class="fa fa-edit"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Tip', new_tip_path %>
</div>