<div id="footer"> 
	<div class="container">
		<strong><a href="#">+ Add a Company</a></strong> &nbsp; &nbsp;
		<%= link_to "About", about_path %> &nbsp; &nbsp;
		<a href="#">Team</a> &nbsp; &nbsp;
		<a href="#">Blog</a> &nbsp; &nbsp;
		<a href="#">Terms</a>
		<div style="float:right">
			<%= link_to "http://www.facebook.com" do %>
				<i class="fa fa-facebook fa-lg link-social" style="font-size: 24px;"></i>
			<% end %>
			&nbsp; &nbsp;
			<%= link_to "http://www.twitter.com" do %>
				<i class="fa fa-twitter fa-lg link-social" style="font-size: 24px;"></i>
			<% end %>
			&nbsp; &nbsp;
			&copy; 2014 Water Cooler Labs
		</div>
	</div>
</div>