<ul class="nav" style="background-color: white;">
	<li><a class="link-dark-gray" href="#">Blog</a></li>
	<li><a class="link-dark-gray" href="#">About</a></li>
	<li><a class="link-dark-gray" href="#">Contact</a></li>
	<li><a class="link-dark-gray" href="#">Terms</a></li>
	<li><a class="link-dark-gray" href="#">Add a Company</a></li>
</ul>