<ul class="nav" style="background-color: white;">
	<li><a class="link-dark-gray" href="#">Blog</a></li>
	<li><%= link_to "About", about_path, :class => "link-dark-gray" %></li>
	<li><%= link_to "Contact", contact_path, :class => "link-dark-gray" %></li>
</ul>